<div class="mt-30">
  <div class="container-fluid">
    <div class="col-12 dashboard-container">
      <h2 class="text-center mt-30">{{ org.name }}</h2>
      <div class="col-12" style="display: flex; justify-content: space-between;">
        <div>
          <a class="btn-sm btn-blue text-light" routerLink="employees" style="margin-right: 15px;">Employees</a>
        </div>
        <div>
          <a class="btn-sm btn-blue text-light" routerLink="interviews" style="margin-right: 15px;">All Interviews</a>
          <a class="btn-sm btn-dark text-light" routerLink="interview/create">Create New Interview</a>
        </div>
      </div>
      <div class="interview-table">
        <header class="d-flex justify-between align-center">
          <h2>Last submitted interviews</h2>
          <div class="search-form-container col-md-3 col-sm-4 col-12">
            <!-- <form action="GET">
              <input type="text" placeholder="Search"/>
              <button><i class="fas fa-search"></i></button>
            </form> -->
          </div>
        </header>
        <section class="table-wrapper" *ngIf="submits.length">
          <table>
            <thead>                                                  
              <tr>
                <td></td>
                <td>Name</td>
                <td>Email</td>
                <td>Position</td>
                <td>Date</td>
                <td>Status</td>
                <td>Details</td>
              </tr>
            </thead>
            <tbody>
                <app-table-row *ngFor="let s of submits; let i = index;" [s]="s" (showInterview)="showInterview(i)"></app-table-row>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</div>


<!-- Interview preview-->
<app-preview-interview *ngIf="showPreview" [interview]="interview" (close)="closeInterview()"></app-preview-interview>