<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-12">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="form-group">
                    <label for="old_password">Old password:</label>
                    <input 
                        type="password" 
                        name="old_password" 
                        id="old_password"
                        formControlName="old_password"
                        [ngClass]="{
                            invalid:
                                form.get('old_password').invalid && form.get('old_password').touched
                              || form.get('old_password').value == oldSentPassword
                          }">
                    <span class="invalid error-msg" *ngIf="form.get('old_password').value == oldSentPassword; else passwordError">
                        Wrong Passowrd
                    </span>
                    <ng-template #passwordError>
                        <span *ngIf="form.get('old_password').touched">
                            <small
                                class="error-msg"
                                *ngIf="form.get('old_password').errors?.required"
                            >
                                This field is required
                            </small>
                        </span>
                    </ng-template>

                </div>
                

                <div class="form-group">
                    <label for="new_password">New password:</label>
                    <input 
                        type="password" 
                        name="new_password" 
                        id="new_password"
                        formControlName="new_password"
                        [ngClass]="{
                            invalid:
                              form.get('new_password').invalid && form.get('new_password').touched
                          }">
                          <span *ngIf="form.get('new_password').touched">
                            <small
                                class="error-msg"
                                *ngIf="form.get('new_password').errors?.required"
                            >
                                This field is required
                            </small>
                            <small
                                class="error-msg"
                                *ngIf="form.get('new_password').errors?.minlength"
                            >
                                The password can't be less than 6 charcters long
                            </small>
                        </span>
                          
                </div>


                <div class="form-group">
                    <label for="new_password_confirmation">Confirm New Password:</label>
                    <input 
                            type="password" 
                            name="new_password_confirmation" 
                            id="new_password_confirmation"
                            formControlName="new_password_confirmation"
                            [ngClass]="{
                                invalid:
                                  form.get('new_password_confirmation').invalid && form.get('new_password_confirmation').touched
                              }">
                              <span *ngIf="form.get('new_password_confirmation').touched">
                                <small
                                    class="error-msg"
                                    *ngIf="form.get('new_password_confirmation').errors?.required"
                                >
                                    This field is required
                                </small>
                                <small
                                    class="error-msg"
                                    *ngIf="
                                    !form.get('new_password_confirmation').errors?.required &&
                                    form.get('new_password_confirmation').errors?.confirm"
                                >
                                    Passwords don't match
                                </small>
                            </span>
                </div>

                <div class="form-group">
                    <button 
                          type="submit" 
                          [disabled]="form.invalid || loading">

                      <span *ngIf="!loading">Save</span>
                      <div class="lds-dual-ring" *ngIf="loading"></div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>