<section class="hero-section"><img class="path" src="/assets/images/path.svg"/>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12 text-container col">
          <h1 class="hero-header">HR and Interviewing System for Faster and More Efficient Interviews</h1>
          <p class="hero-paragraph">Automate your Interviewing system with Fasterview and eliminate the struggle associated with the hiring process</p>
          <div class="buttons">
              <a class="login" routerLink="/login">Login</a>
              <a class="register" routerLink="/register">Register</a>
            </div>
        </div>
        <div class="col-md-6 col-12 col"><img class="laptop" src="/assets/images/laptop.svg"/></div>
      </div>
    </div>
  </section>
  <section class="control-section my-30">
    <div class="container">
      <h2 class="underline-heading"><span>Control Your Bussiness</span></h2>
      <div class="boxes">
        <div class="row">
          <div class="col-md-4 col-12">
            <div class="control-box">
              <div class="control-icon"><span class="icon"><i class="fas fa-hand-pointer"></i></span></div>
              <div class="control-body">
                <h4 class="control-heading">Easy To Use</h4>
                <p class="control-paragraph">HR teams can announce the open positions requirements and putting in applications, determine the position specific suitability questions like certificates, years of experience etc. Recruiting will be as easy as watching few videos.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="control-box">
              <div class="control-icon"><span class="icon"><i class="fas fa-stopwatch"></i></span></div>
              <div class="control-body">
                <h4 class="control-heading">Saving Time</h4>
                <p class="control-paragraph">Ask questions to the candidates with timed options, and specific questions for their verbal interview.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="control-box">
              <div class="control-icon"><span class="icon"><i class="fas fa-archive"></i></span></div>
              <div class="control-body">
                <h4 class="control-heading">All In One Place</h4>
                <p class="control-paragraph">You have the option to view the interview on devices such as your mobile phone, tablets, desktop and more. Think live video streaming on both iOS and Android devices.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><br/>
  <section class="how-section my-30">
    <div class="container">
      <h2 class="underline-heading"><span>How It Works</span></h2>
      <div class="how">
        <div class="how-box">
          <div class="how-number">1</div>
          <div class="how-body">
            <h3 class="how-heading underline-heading"><span> Broadcast Positions </span></h3>
            <p class="how-paragraph">Our platform allows you to announce the open positions in your company to the talent you’re looking for. Not only can prospective clients view the requirements and consider putting in applications, they may also inform their friends, family, and acquaintances about open jobs.</p>
          </div>
        </div>
        <div class="how-box">
          <div class="how-number">2</div>
          <div class="how-body">
            <h3 class="how-heading underline-heading"><span> Ask Prospective Candidates</span></h3>
            <p class="how-paragraph">Ask questions to the candidates including professional exam related questions with timed options, and specific questions for their verbal interview.</p>
          </div>
        </div>
        <div class="how-box">
          <div class="how-number">3</div>
          <div class="how-body">
            <h3 class="how-heading underline-heading"><span> Mimic Real Interview</span></h3>
            <p class="how-paragraph">Candidates will receive a set of questions They must answer each question before moving on to the next. If they are unable to present a response, they cannot go back to it. This feature mimics the actual interview process.</p>
          </div>
        </div>
        <div class="how-box">
          <div class="how-number">4</div>
          <div class="how-body">
            <h3 class="how-heading underline-heading"><span> Playback the Interview Multiple Times</span></h3>
            <p class="how-paragraph">HR teams have the option of replaying each interview as many times as you need to. Having screened each candidate carefully, they can choose the ones you feel are best suited for the job.</p>
          </div>
        </div>
        <div class="how-box">
          <div class="how-number">5</div>
          <div class="how-body">
            <h3 class="how-heading underline-heading"><span> Save Time</span></h3>
            <p class="how-paragraph">Candidates save on both the time and expense of traveling to interview sites. Since travel time is eliminated, not only will you be able to interview more candidates, but also conduct higher quality interviews for each one.</p>
          </div>
        </div>
      </div>
    </div>
  </section><br/>
  <section class="contact-section">
    <div class="container">
      <div class="container">
        <h1 class="underline-heading"> <span>Contact Us</span></h1>
        <!-- <form action=""> -->
          <div class="row">
            <div class="col-md-6 col-12 my-10">
              <div class="form-group">
                <div class="form-group">
                  <label>Name:</label>
                  <input type="text" value=""/>
                </div>
              </div>
              <div class="form-group">
                <div class="form-group">
                  <label>Email:</label>
                  <input type="email" value=""/>
                </div>
              </div>
              <div class="form-group">
                <div class="form-group">
                  <label>Subject:</label>
                  <input type="text" value=""/>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12 my-10">
              <div class="contact-textarea">
                <div class="form-group">
                  <div class="form-group">
                    <label>Body:</label>
                    <textarea></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group my-10">
                <button class="btn" type="submit">Send</button>
              </div>
            </div>
          </div>
        <!-- </form> -->
      </div>
    </div>
  </section>