<div class="container">
  <h1 class="underline-heading"><span>Policy & Cookies</span></h1>
  <div class="row">
    <div class="col-12">
      <div class="paragraph-section">
        <h3 class="section-title">Our Privacy and Cookies Policy:</h3>
        <p class="page-paragraph">
          We are committed to safeguarding the privacy of our website visitors,
          readers, and service users. Any data you send us will be used in a
          lawful way, we won’t do anything with it that we did not tell you
          about in advance, and it will all remain private unless you give us
          permission to send specific data to a third party for a good reason.
          We use cookies, or pieces of code that record your preferences, on our
          website, but we will ask for your consent to their use when you first
          visit us. There are laws around the world restricting what we can do
          with your data (your email address, name, phone number, and other
          identifying information), and the policy below complies with current
          laws.
        </p>
      </div>
      <div class="paragraph-section">
        <h3 class="section-title">How We Use Your Personal Data:</h3>
        <p class="page-paragraph">
          We may process data about your use of our website through third-party
          analytics tracking system, such as Google Analytics. This usage data
          may include your IP address, geographical location, browser type and
          version, operating system, referral source, length of visit, page
          views and website navigation paths, as well as information about the
          timing, frequency, and pattern of your service use. We may process
          your account and profile data, which will include your name and email
          address and phone number and any other demographic information you
          voluntarily provided to us. This information is used only to provide
          you with our services and communicate with you. We may also process
          information you supply to email notifications and/or newsletters.
        </p>
      </div>
      <div class="paragraph-section">
        <h3 class="section-title">Providing Your Personal Data To Others:</h3>
        <p class="page-paragraph">
          Financial transactions relating to our website and services may be
          handled by our payment services providers. We will share transaction
          data with them only to the extent necessary for the purposes of
          processing your payments, refunds, and dealing with queries. Personal
          data that we process for any purpose will not be kept for longer than
          is necessary for that purpose.
        </p>
      </div>
      <div class="paragraph-section">
        <h3 class="section-title">Security of Personal Data:</h3>
        <p class="page-paragraph">
          We will take appropriate technical and organizational precautions to
          secure your personal data and to prevent its loss, misuse, or
          alteration. We will store all your personal data on secure servers,
          personal computers, and mobile devices, and in secure manual
          record-keeping systems. Data relating to your enquiries and financial
          transactions that is sent from your web browser to our web server, or
          from our web server to your web browser, will be protected using
          encryption technology. You acknowledge that the transmission of
          unencrypted data over the internet is inherently insecure, and we
          cannot guarantee its security. You should ensure that your password is
          not susceptible to being guessed, whether by a person or a computer
          program. You are responsible for keeping the password you use for
          accessing our website confidential and we will not ask you for your
          password (except when you log in to our website).
        </p>
      </div>
      <div class="paragraph-section">
        <h3 class="section-title">Your Rights:</h3>
        <ul>
          <li>
            <h3 class="small-heading">
              Your principal rights under data protection law are:
            </h3>
            <p class="page-paragraph">
              We will take appropriate technical and organizational precautions
              to secure your personal data and to prevent its loss, misuse, or
              alteration. We will store all your personal data on secure
              servers, personal computers, and mobile devices, and in secure
              manual record-keeping systems. Data relating to your enquiries and
              financial transactions that is sent from your web browser to our
              web server, or from our web server to your web browser, will be
              protected using encryption technology. You acknowledge that the
              transmission of unencrypted data over the internet is inherently
              insecure, and we cannot guarantee its security. You should ensure
              that your password is not susceptible to being guessed, whether by
              a person or a computer program. You are responsible for keeping
              the password you use for accessing our website confidential and we
              will not ask you for your password (except when you log in to our
              website).
            </p>
          </li>
          <li>
            <h3 class="small-heading">The right to access:</h3>
            <p class="page-paragraph">
              You have the right to confirm the personal data we have on you and
              we must provide access if you request it.
            </p>
          </li>
          <li>
            <h3 class="small-heading">The right to erasure:</h3>
            <p class="page-paragraph">
              Also known as the “right to be forgotten,” you have the right to
              the erasure of your personal data without undue delay for any
              reason. There are a few exceptions to this right, though, if we
              are complying with a legal obligation or defending against a legal
              claim.
            </p>
          </li>
          <li>
            <h3 class="small-heading">h The right to rectification:</h3>
            <p class="page-paragraph">
              You have the right to have any inaccurate personal data about you
              corrected and to have any incomplete personal data about you
              completed.
            </p>
          </li>
          <li>
            <h3 class="small-heading">The right to object to processing:</h3>
            <p class="page-paragraph">
              If you make such an objection, we will cease to process the
              personal information unless we can demonstrate compelling
              legitimate grounds that override your interests.
            </p>
          </li>
          <li>
            <h3 class="small-heading">The right to restrict processing:</h3>
            <p class="page-paragraph">
              In some circumstances you have the right to restrict the
              processing of your personal data. That could happen if you contest
              the accuracy of the data or we no longer need the data, but you
              would like it retained for legal reasons.
            </p>
          </li>
          <li>
            <h3 class="small-heading">
              The right to complain to a supervisory authority:
            </h3>
            <p class="page-paragraph">
              If you consider that our processing of your personal information
              infringes data protection
            </p>
          </li>
          <li>
            <h3 class="small-heading">The right to data portability:</h3>
            <p class="page-paragraph">
              You have the right to object to our processing of your personal
              data for direct marketing purposes (including profiling for direct
              marketing purposes). If you make such an objection, we will cease
              to process your personal data for this purpose.
            </p>
          </li>
        </ul>
      </div>
      <div class="paragraph-section">
        <h3 class="section-title">About Cookies</h3>
        <p class="page-paragraph">
          A cookie is a file containing an identifier (a string of letters and
          numbers) that is sent by a web server to a web browser and is stored
          by the browser. The identifier is then sent back to the server each
          time the browser requests a page from the server. Cookies may be
          either "persistent" cookies or "session" cookies: a persistent cookie
          will be stored by a web browser and will remain valid until its set
          expiry date, unless deleted by the user before then; a session cookie,
          on the other hand, will expire at the end of the user session, when
          the web browser is closed. Cookies do not typically contain any
          information that personally identifies a user, but personal
          information that we store about you may be linked to the information
          stored in and obtained from cookies. We use cookies to identify you
          when you visit our website, determine if you are logged in, and
          maintain the status of your shopping cart. They may also be used to
          help us to display advertisements relevant to you and to help us
          analyze the use and performance of our website and services. Our
          service providers, such as Google Analytics and Google Adsense, use
          cookies that may be stored on your computer when you visit our
          website. Most browsers allow you to refuse to accept cookies and to
          delete them. The methods for doing so vary from browser to browser,
          and from version to version.
        </p>
      </div>
    </div>
  </div>
</div>
