<div class="container">
    <h1 class="underline-heading"> <span>About Us</span></h1>
    <div class="row">
      <div class="col-12">
        <p class="page-paragraph">As a group of computer science students, we have been thinking about the hassle associated with the recruitment process. So, we decided to take our skills a step further. We developed Fasterview to help the companies reduce the struggle and make it as simple as possible.</p>
        <p class="page-paragraph">Through our effective streamlined hiring platform, we will help companies, organizations and recruiters search resumes, post jobs, and communicate with prospective employees, resulting in the most effective hires possible.</p>
        <p class="page-paragraph">Our software eliminates the struggles that companies face in hiring the best talent. No more scheduling interviews, long wait times, time zone differences, meeting with unfit candidates or no shows - we understand that your time is precious and so is your candidates’. Our platform presents a seamless, quick and empowering hiring process – one that saves on cost, time and commute for all involved.</p>
        <p class="page-paragraph">Now companies can involve all individuals that would have input in the hiring process by conveniently sharing the candidates’ video. We only need to allow all the members of the management team to view recorded video interviews and choose the candidates we feel are capable for the final round of interviews. Our platform is compatible with all the devices that companies, and candidates may want to use.</p>
      </div>
    </div>
  </div>