<div *ngIf="isLoading" class="text-center mt-30">
    <div class="lds-dual-ring"></div>
  </div>

<div class="mt-30" *ngIf="!isLoading">
  <div class="container-fluid">
    <h1 class="underline-heading">
        <a [routerLink]="['/org', org.id]">
          {{ org.name }}
        </a>
      </h1>
    <div class="col-12 dashboard-container">
        <div class="row">
            <app-user *ngFor="let user of users; let i = index;" [user]="user" [index]="i"></app-user>
        </div>
    </div>
  </div>
</div>
