<footer class="footer bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-12">
          <h2 class="footer-heading">Fasterview</h2>
          <p class="footer-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non sem posuere nunc consequat mattis nec quis felis. Fusce sit amet ante consectetur, tempus libero vel, interdum velit.</p>
        </div>
        <div class="offset-1"></div>
        <div class="col-md-3 col-12">
          <ul class="footer-list">
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/about">About Us</a></li>
            <li><a routerLink="/team">Our Team</a></li>
            <li><a routerLink="/policy">Policy &amp; Cookies</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-12">
          <ul class="footer-list social">
            <li> <a href="#" target="_blank"><i class="fab fa-twitter twitter"></i></a></li>
            <li> <a href="#" target="_blank"><i class="fab fa-linkedin linkedin"></i></a></li>
            <li> <a href="#" target="_blank"><i class="fab fa-instagram-square insta"></i></a></li>
            <li> <a href="#" target="_blank"><i class="fab fa-facebook-square facebook"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>