<div class="container-fluid profile-container">
  <div class="user-info-container bg-white">
    <div class="row">
      <div class="col-sm-8 col-lg-6 mx-auto">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="user-info">
            <div class="user-img-container">
              <label for="file">
                <img
                class="user-pic"
                [src]="user.profile_pic ? user.profile_pic : '/assets/images/user.png'"
                #img
                />
                <div class="upload-title">
                  Upload Image
                </div>
              </label>
              <input type="file" name="file" id="file" #file>
            </div>
            <!-- Image error message -->
            <span *ngIf="fileError" class="error-msg">{{ fileError }}</span>
            <span class="user-name">
              <span class="edit-box" (click)="edit()">
                <span *ngIf="!editting">
                  <span>
                    {{ user.name | titlecase }}
                  </span>
                  <p class="user-bio" *ngIf="user.bio">{{ user.bio }}</p>
                  <span class="edit-btn">
                    <i class="fas fa-edit"></i>
                  </span>
                </span>
              </span>

                <!-- ============ Editting ============ -->
                <span *ngIf="editting">
                  <!-- Name -->
                  <div class="form-group">
                    <input 
                          type="text" 
                          name="name" 
                          id="name" 
                          formControlName="name" 
                          autocomplete="off"
                          [ngClass]="{
                            invalid:
                              form.get('name').invalid && form.get('name').touched
                          }">
                    <span *ngIf="form.get('name').touched">
                      <small
                        class="error-msg"
                        *ngIf="form.get('name').errors?.required"
                      >
                        This field is required
                      </small>
                      <small
                        class="error-msg"
                        *ngIf="form.get('name').errors?.minlength"
                      >
                        The name can't be less than 3 characters long
                      </small>
                    </span>          
                  </div>

                  <!-- Bio -->
                  <div class="form-group">

                    <textarea name="bio" 
                              placeholder="Your bio" 
                              formControlName="bio"
                              [ngClass]="{
                                invalid:
                                  form.get('bio').invalid && form.get('bio').touched
                              }"
                              rows="10"></textarea>
                    <span *ngIf="form.get('bio').touched">
                      <small
                        class="error-msg"
                        *ngIf="form.get('bio').errors?.maxlength"
                      >
                        The name can't be more than 500 characters long
                      </small>
                    </span>          
                  </div>

                  
                  <div class="d-flex justify-between">
                    <button 
                          type="submit" 
                          [disabled]="form.invalid || userLoading || (!form.dirty && !newImage)">

                      <span *ngIf="!userLoading">Save</span>
                      <div class="lds-dual-ring" *ngIf="userLoading"></div>
                    </button>
                    <button class="btn-dark" (click)="close()">Discard</button>
                  </div>
                </span>

                


            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- ============ Companies ============ -->
<div *ngIf="!loaded" class="text-center mt-30">
    <div class="lds-dual-ring"></div>
</div>
<div class="companies container" *ngIf="loaded">
  <h2 class="mt-30 companies-header col-12 text-center" *ngIf="!comps.length">
    You Don't Work On A Company Yet!
  </h2>
  <div *ngIf="comps.length">
    <h2 class="mt-30 companies-header col-12">
      Organizations You Work On
    </h2>
    <section class="interviews-container bg-white mb-30">
      <div class="interview-cards row align-end">

        <div class="col-lg-3 col-md-6 col-12 my-10" *ngFor="let c of comps">
          <div class="bg-light company-card">
            <a [routerLink]="'/org/' + c.id">
              <div class="interview-card">
                <h3>{{ c.name }}</h3>
                <h4 class="text-violet my-0" *ngIf="c.is_owner">
                  Owner <i class="fas fa-crown"></i>
                </h4>
              </div>
            </a>
          </div>
        </div>

      </div>
    </section>
  </div>


  <div class="d-flex my-30">
    <div class="col-12 text-right">
      <a class="btn-sm btn-violet text-light" routerLink="/org/create-org">Create New Organization</a>
    </div>
  </div>

</div>
