<div class="container">
    <h1 class="underline-heading">Our Team</h1>
  </div>
  <section class="team-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-12 my-10">
          <div class="person-box"><img src="/assets/images/yamazo.jpg"/>
            <div class="person-body">
              <h4 class="person-name">Mohamed Ashraf</h4>
              <ul class="social">
                <li> <a href="#" target="_blank"><i class="fab fa-twitter twitter"></i></a></li>
                <li> <a href="#" target="_blank"><i class="fab fa-linkedin linkedin"></i></a></li>
                <li> <a href="#" target="_blank"><i class="fab fa-facebook-square facebook"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 my-10">
          <div class="person-box"><img src="/assets/images/mohamed.jpg"/>
            <div class="person-body">
              <h4 class="person-name">Mohamed Abdallah</h4>
              <ul class="social">
                <li> <a href="#" target="_blank"><i class="fab fa-twitter twitter"></i></a></li>
                <li> <a href="#" target="_blank"><i class="fab fa-linkedin linkedin"></i></a></li>
                <li> <a href="#" target="_blank"><i class="fab fa-facebook-square facebook"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 my-10">
          <div class="person-box"><img src="/assets/images/emmo.png"/>
            <div class="person-body">
              <h4 class="person-name">Ahmed Emam</h4>
              <ul class="social">
                <li> <a href="#" target="_blank"><i class="fab fa-twitter twitter"></i></a></li>
                <li> <a href="#" target="_blank"><i class="fab fa-linkedin linkedin"></i></a></li>
                <li> <a href="#" target="_blank"><i class="fab fa-facebook-square facebook"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 my-10">
          <div class="person-box"><img src="/assets/images/salah.jpg"/>
            <div class="person-body">
              <h4 class="person-name">Salah Hesham</h4>
              <ul class="social">
                <li> <a href="#" target="_blank"><i class="fab fa-twitter twitter"></i></a></li>
                <li> <a href="#" target="_blank"><i class="fab fa-linkedin linkedin"></i></a></li>
                <li> <a href="#" target="_blank"><i class="fab fa-facebook-square facebook"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>